@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";


@theme {
    /* Paleta de colores extraída de tu diseño HTML */
    --color-primary: #c50118;
    --color-secondary: #d1a021;

    --color-background-light: #f4f6f8;
    --color-background-dark: #1a1a1a;

    --color-sidebar-dark: #2d1a1d;

    --color-card-light: #ffffff;
    --color-card-dark: #2d2d2d;

    --color-text-light: #1e293b;
    --color-text-dark: #e2e8f0;

    --color-text-muted-light: #64748b;
    --color-text-muted-dark: #94a3b8;

    /* Fuentes */
    --font-display: "Roboto", sans-serif;
    --font-body: "Roboto", sans-serif;
}

/* Utilitarios personalizados para sombras */
@utility shadow-soft {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@utility shadow-gold {
    box-shadow: 0 0 15px rgba(209, 160, 33, 0.3);
}